{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Top-10 Best Companies in the world</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Founder</th>
                <th>Profits</th>
                <th>Location</th>
                <th></th>
            </tr>
            {{range .Snippets}}
                <tr>
                    <td>#{{.ID}}</td>
                    <td><a href='/company/{{.ID}}'>{{.Company}}</a></td>
                    <td>{{.Founder}}</td>
                    <td>{{.Profits}}</td>
                    <td>{{.Location}}</td>
                    <td>
                        <form action="/company/delete" method="post">
                            <button value="{{.ID}}" name="deleteButton">delete</button>
                        </form>
                    </td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}